/* Estilo del main */
main section {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-shadow: 2px 2px var(--color-sombra);
    background-color: var(--color-principal);
    border: 2px solid var(--color-texto);
    text-align: center;
}

    section button {
        align-self: center;
        background-color: var(--color-enfasis);
        color: var(--color-fondo);
        width: fit-content;
        border: none;
        padding: 0.5em;
        border-radius: 0.5em;
        transition: 0.5s;
    }

    section button:hover {
        background-color: var(--color-texto);
        transform: scale(1.1);
        cursor: pointer;
    }